<html>
  <head>
    <title>Api</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <p>解析接口_1:<a href="/v3/analysis/api/catalog?url=http://www.xinxs.la/34_34495/">/目录解析</a></p>
    <p>解析接口_2:<a href="/v3/analysis/api/chapter?url=http://www.xinxs.la/34_34495/2266828.html">章节解析</a></p>
    <p>排行接口:<a href="/v2/rnklist?p=1">/rnklist?p=*</a></p>
    <p>搜索接口:<a href="/v3/books/api/search?keyword=我欲">/sear?name=*</a></p>
    <p>站点表:<a href="/v2/site-map">点击查看</a></p>
  </body>
</html>