<html>
  <head>
    <title>Api</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <p>解析接口_1:<a href="/v2/analysis?action=1&url=http://www.xinxs.la/34_34495/">/analysis?action=1&url=*</a></p>
    <p>解析接口_2:<a href="/v2/analysis?action=2&url=http://www.xinxs.la/34_34495/2266828.html">/analysis?action=2&url=*</a></p>
    <p>排行接口:<a href="/v2/rnklist?p=1">/rnklist?p=*</a></p>
    <p>搜索接口:<a href="/v2/sear?name=我欲">/sear?name=*</a></p>
    <p>站点表:<a href="/v2/site-map">点击查看</a></p>
  </body>
</html>