<!DOCTYPE html>
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Source List:</p>
    <ul>
      <% supportedSites.forEach(site => { %>
      <li><%= site %></li>
      <% }) %>
    </ul>
    <p>Current Date: <%= currentTime %></p>
  </body>
</html>
