<!DOCTYPE HTML>
<html>
  <head>
    <title>Welcome</title>
    <link rel="stylesheet" href="/stylesheets/style.css">
  </head>
  <body>
    <h1>Welcome</h1>
    <p>Source List:</p>
    <ul>
      <li>kansz</li>
      <li>xs.la</li>
      <li>biqu.cm</li>
    </ul>
    <p>Last Update Date: Tue Jan 16 2018</p>
    <p>Current Date：<%= currentTime %>
    </p>
  </body>
</html>